<h1> Musée </h1>
<h2> Antithèse  </h2>
<h3> Lucas <span style="color: #cbb975"> Marsalle </span> </h3>

<body>

<div class="flex-container-bande">
<div class="bande"></div>
<div class="bande"></div>
 </div>


<table>
  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <<tr class="flex-container">
        <td class="titre"><%= art.title %></td>
        <td class="auteur"><%= art.author %></td>
        <td class=theme><%= art.theme %></td>
        
        <tr class="boutons">
        <td> <%= link_to 'Show', art %> </td>
        <td><%= link_to 'Edit', edit_art_path(art) %></td>
        <td><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr> 
      </tr>
    <% end %>
  </tbody>
</table>
<body/>

<%= link_to 'New Art', new_art_path %>
